@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Nunito', sans-serif;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    h4 {
        @apply text-base;
    }

    h5 {
        @apply text-sm;
    }

    h6 {
        @apply text-xs;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    .rotate {
        transform: rotate(45deg);
        transition: all 0.4s ease-in-out;
    }

    .rotated {
        transform: rotate(0deg);

    }

    .description {
        animation: height .4s ease-in-out;
    }

    details>summary {
        list-style: none;
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    details summary::after {
        content: url("@/assets/plus.png");
        font-size: 2em;
        color: #708090;
        transition: transform 0.5s ease-in-out;
    }

    details[open] summary::after {
        content: url("@/assets/plus.png");
        transform: rotate(-45deg);
        transition: transform 0.5s ease-in-out;
    }

    details {
        transition: all 0.5s ease-in-out;
        max-height: 100px;
        overflow: hidden;
    }

    details[open] {
        max-height: 500px;
    }

    /* ... */
}