# Node docker image on which this would be run
image: node:latest

stages:
  - test
  - production

# Job 1:
backend_test:
  stage: test
  script:
    - cd ./backend
    - npm install
    - npm test

frontend_test:
  stage: test
  script:
    - cd ./frontend
    - npm install
    # - npm run test // TODO: test

# Job 2:
# Deploy to staging
backend_deploy:
  stage: production
  image: ruby:latest
  only:
    - master
    - anyan_adminSubService
  script:
    - cd ./backend
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
    - dpl --provider=heroku --app=$HEROKU_APP_NAME_BACK --api-key=$HEROKU_KEY_YC

frontend_deploy:
  stage: production
  only:
    - master
    - yc/migrate_to_nuxt
  script:
    - cd ./frontend
    - apt-get update -qy
    - apt-get install -y ruby-dev git
    - gem install dpl
    - dpl --provider=heroku --app=$HEROKU_APP_NAME_FRONT --api-key=$HEROKU_KEY_YC  --skip-cleanup

  
