# Node docker image on which this would be run
image: node:latest

stages:
  - test
  - production

before_script:
  - rm -rf node_modules     # Clean up the node_modules directory before running any job in the pipeline

# Job 1:
Test:
  stage: test
  script:
    - cd ./backend
    - npm install
    # - npm run test // TODO: test

# Job 2:
# Deploy to staging
Heroku_deploy:
  stage: production
  image: ruby:latest
  script:
    - cd ./backend
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
    - dpl --provider=heroku --app=$HEROKU_APP_NAME_BACK --api-key=$HEROKU_KEY_YC