@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&display=swap');

@layer base {
    html {
        font-family: Montserrat, sans-serif ;
    }
}

details>summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::after {
    content: url("@/assets/plus.png");
    font-size: 2em;
    color: #708090;
    transition: transform 0.5s ease-in-out;
}

details[open] summary::after {
    content: url("@/assets/plus.png");
    transform: rotate(-45deg);
    transition: transform 0.5s ease-in-out;
}

details{
	transition: all 0.5s ease-in-out;
	max-height: 100px;
	overflow: hidden;
}

details[open] {
	max-height: 500px;
}